[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
coverage = "*"
scipy = "*"
numpy = "*"
sklearn = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
scipy = "*"
numpy = "*"
sklearn = "*"

[requires]
python_version = "3.8"
